# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
pandas
numpy
pyarrow
requests
beautifulsoup4==4.12.3